/* App.css */

.app-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

/* Remove the absolute positioning from h1 in App.css */
.app-container h1 {
  margin: 0;
  text-align: center;
  color: red;
}

.bottom-right-image {
  position: absolute;
  bottom: 0px;
  right: 0px;
  width: 500px;
  height: auto;
}

@media screen and (max-width: 767px) {
  .app-container {
    padding: 20px; /* Add padding to create space around elements */
  }

  .bottom-right-image {
    width: 100%; /* Make the image responsive to smaller screens */
    position: static; /* Adjust positioning for mobile */
  }

  .registration-form {
    max-width: 100%; /* Allow the form to take the full width */
  }

  .registration-form h1 {
    /* Adjust styles for the title on mobile */
    font-size: 24px; /* Example: Reduce font size for smaller screens */
  }
}