/* RegistrationForm.css */

/* Form container styles */
.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  position: relative; /* Add this line to position the title */
}

/* Title styles within the form */
.form-container h1 {
  text-align: center;
  color: #c41e3aff;
  margin-bottom: 20px;
  font-size: 70px;
}


/* Form container styling */
.registration-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 360px; /* Adjust width as needed */
  padding-left: 10px;
}

/* Styling for input and select fields */
.input-group {
  width: 100%;
  margin-bottom: 15px;
}

/* Input field styles */
.registration-form input[type="tel"]{
  width: 289px;
  padding: 30px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 20px;
}

.registration-form select {
  width: 350px;
  padding: 30px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 20px;
}

/* Label styles (if needed) */
.registration-form label {
  font-weight: bold;
  margin-bottom: 8px;
}

/* Submit button styles */
.registration-form button {
  padding: 20px 60px;
  background-color: #c41e3aff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 20px;
}

.registration-form button:hover {
  background-color: #c41e3aff;
}

/* Placeholder text color for input fields */
.registration-form input::placeholder {
  color: gray;
}

.description-container {
  text-align: center;
}

.description-text {
  font-family: 'Impact', sans-serif;
  font-size: 24px;
  padding-left: 20px;
  padding-right: 10px;
}

.title {
  font-family: 'Impact', sans-serif; /* Apply Impact font */
  text-align: center;
  color: #c41e3aff;
  /* Optional: Adjust font size, color, etc. */
}

@media screen and (min-width: 900px) {

  .title{
    padding-top: 10%;
    padding-right: 5%;
  }

  .description-text{
    padding-right: 5%;
   
  }

}
